.interlocutor
	margin-bottom 40px
	padding-bottom 15px
	display inline-flex
	border-bottom 1px dashed #8a8a8a

.avatar
	margin-right 15px
	width 60px
	height 60px
	border-radius 8px

.data
	display flex
	flex-direction column
	justify-content space-around

.title
	margin 0
	font-size 14px

.name
	padding 0 2px
	background-color #000

.prop
	margin 0
	font-size 14px
	color #8a8a8a

.value
	color #000
